.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header,
main,
footer {
  padding: 1rem;
  flex: 1;
}

.content-wrapper {
  display: flex;
}

.tabs {
  width: 20%;
  border-right: 1px solid #ddd;
  padding: 1rem;
}

.tabs ul {
  list-style: none;
  padding: 0;
}

.tabs li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.tabs li.active {
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.sidebar {
  width: 20%;
  padding: 1rem;
  background-color: #f5f5f5;
}

.container-fluid {

  margin-top: 100px !important;
  margin-bottom: 100px;
  background-color: var(--dark-background-color);
  justify-content: center;
  padding: 20px;

}

.grid-container {
  background-color: aliceblue;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  margin: 0 auto auto;
}

.grid-item {

  text-align: justify;
  color: var(--dark-background-color);
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  padding: 5px;

}

.grid-item .ItemTitle {
  opacity: 1;
}

.item1 {
  grid-column: 1 / span 3;
  grid-row: 1/span 2;

}

/* .item2 {4
    grid-column: 1;
    grid-row: 1;
    
  }
  .item3 {
    grid-column: 1;
    grid-row: 1;
  }
  .item4 {
    grid-column: 1;
    grid-row: 1;
  } */

.item-content {
  position: absolute;
  bottom: 1%;
  background: rgb(0, 0, 0);
  background: #0ec5ede0;
  width: 98%;
  transition: .10s ease;
  font-size: 20px;
  text-align: center;
  display: block;
  height: auto;
}
.item-content :hover{
  opacity: 100;
  transition: .10s ease;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill
}

.ItemTitle {
  color: black;

}

.ItemTitle:hover {
  color: var(--text-primary);
}

.ItemDescrip {
  opacity: 1;
  color: black;

}