.btn-primary {
    position: relative;
    margin-left: 580px;
    transform: translateY(-360px);
    color: var(--text) !important;
}

/* second page */
.AboutUs_page-2 {
    transform: translateY(-80px);
    background-color: var(--background);
    transform: translateY(-190px);
    height: 600px;
}

.edit_textAboutUs {
    text-align: justify;
    margin: 20px 200px;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: -10px;
}

.general_text-main {
    transform: translateY(-360px);
    margin-left: 400px;
    color: white;
}

.img_general-startPage {
    height: 620px;

}

.AboutUs_h6,
.AboutUs_main-2 {
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}
.AboutUs_h6 {
    color: gray;
    margin-top: 20px;
}
.AboutUs_text-2 {
    color: var(--text);
}

/* third page */
.AboutUs_page-4 {
    margin-top: 100px;
    height: 600px;
}

.AboutUs-3_img {
    margin-left: 174px;
    height: 480px;
    width: 1000px;
    object-fit: cover;
    border-radius: 20px;
}

.AboutUs-3_img-btn2,
.AboutUs-3_img-btn {
    background-color: yellow;
    width: 38px;
    border-radius: 100%;
    border: 1px solid var();
    transform: translateX(-60px);
}

.AboutUs-3_img-btn:hover {
    background-color: black;
    color: yellow;
}

.AboutUs-3_img-btn2 {
    transform: translateX(-1014px)
}

/* fouth page */
.AboutUs-4_listImage {
    margin: 70px 320px;
    display: flex;
}

.AboutUs_main-2 {
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 60px;
}

.anh_ngoai_nen-1 {
    position: relative;
}

.anh_nen-aboutUs {
    height: 360px;
    width: 252px;
    object-fit: cover;
    margin-left: 50px;
    position: relative;
}
.AboutUs_page-4_text{
    font-size: 24px;
}
.AboutUs_page-4_text-2{
    font-size: 10px;
    margin-top: 60px;
}.AboutUs_img-2-4{
    transition:  transform 0.5s ease-in-out ;
    position: relative;
    object-fit: cover;
}
.AboutUs_img-2-4:hover{
    transform: scale(1.1);
    transform-origin: center center;
}