.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-fluid
    {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 768px) {
        .container {
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 480px) {
        .container {
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (max-width: 768px) {
        .row {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            background: var(--faded-primary-color);
        }
    }
    