.container, .sub_banner  {
  display: flex;
  flex-direction: column !important;
  width: 100%;

  /* margin: 0 auto;  */

}

@media (max-width: 768px) {
  .container, .containertab, .sub_banner  {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container,.containertab, .sub_banner  {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background: var(--faded-primary-color);
}


.column {
  width: 415px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #dddfe2;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

}

.school_card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 10px;
  margin: 10px;

}

/* .school_card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
} */

.image_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.school_image {
  width: 100%;
  height: 100%;
}

.school_info {
  margin-top: 5px;
}

.text_descrion {
  text-align: justify;
  padding: 10px;
  font-family: var(--bs-font-sans-serif);
  font-size: 1.2rem !important;
  display: show;
  color: black;
}

.school_title {
  margin-bottom: 5px;
  color: red;
}

.school_rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.rating_stars {
  font-size: 18px;
  color: orange;
}

.rating_text {
  margin-left: 5px;
  font-size: 14px;
  color: gray;
}

.tag_catalog {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 10px;

}

.tag {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: var(--alert-text-color);
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .introabouttype,.containertab,.sub_banner  {
    flex-wrap: wrap;
  }
}

.introabouttype  {
  
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.titleIntroType {
  font-size: 2.5rem;
  color: var(--faded-primary-color);
width: 100%;
}

.SubtitleIntroType {
  font-size: 1.2em;
  font-family:'Times New Roman', Times, serif;
color: var(--faded-primary-color);
width: 100%;
}

.sub_banner {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px ;
  text-align: center;
  width: 100%;
  background-image: url('/public/asset/bg-inner-contact.jpg');
  

  
}
.containertab{
  justify-content: center;
  margin: 0 auto;
}
.tabcontainer {
  margin-top: 20px;


}

/* Tab navigation */
.tabs {
  justify-content: center;
  list-style-type: none;
  padding-top: 30px;
  width: 100%;
  display: flex; 
  position: absolute;
  top: 70%;
  box-shadow: 4px;;
  /* background-color: rgba(63, 101, 252, 0.688); */

  
}

.tabs li {
  margin-right: 10px;
}

.tabs li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-color:var(--dark-background-color);
  transition: background-color 0.3s;
}

.tabs li a:hover {
  background-color: #e0e0e0;
  color: (--dark-background-color);
}

/* Active tab */
.tabs li.active a {
  background-color: #fff;
  border-bottom: 1px solid var(--dark-background-color);
  color:var(--dark-background-color);
}

/* Tab content */
.tabcontent {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}