/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
} */

.container {
  background: var(--dark-background-color);
}

.row {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  background: var(--shadow-background-color);

}

.column {
  width: 415px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #dddfe2;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.school_card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 10px;
  margin: 10px;

}

.image_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
    overflow: hidden;
  
  
  

}

.school_image {
  width: 100%;
  height: 100%;
  
}

.school_info {
  
}

.school_title {
  margin-bottom: 5px;
  color: red;
}

.school_rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.rating_stars {
  font-size: 18px;
  color: orange;
}

.rating_text {
  margin-left: 5px;
  font-size: 14px;
  color: gray;
}

.tag_catalog {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: lightblue;
  color: #333;
  font-size: 12px;
}