  .footer_container {
    margin-top: 20px;
      width: 100%;
      background-color: var(---background);
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--primary_color);
      padding: 10px;
      
  }

  .logo_container {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .ft_logo {
      width: 200px;
      height: auto;
      text-align: center;
  }

  .logo_contain {
      width: 100%;
      justify-content: left;
  }

  .logo_container h3 {
      justify-content: left;
  }

  .logo_contain p {
      text-align: left;
      line-height: 1.0em;
      font-size: 14px;
      font-weight: 400;
  }

  .logo_contain ul {
      list-style-type: none;
      padding: 0;
  }

  .logo_contain li {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.5;
  }


  .logo_contain li i {
      margin-right: 10px;
  }

  .footer_container h1 {
      font-size: 2em;
      margin: 0;
  }

  .ft_home {
      width: 25%;
      text-align: left;
  }

  .ft_aboutUs {
      width: 25%;
      text-align: left;
  }

  .ft_contactUs {
      width: 20%;
      text-align: left;
  }

  .ft_home ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .ft_home .ft_contactUs .ft_aboutUs li {
      display: inline-block;
      margin-right: 20px;
  }

  .ft_home .ft_contactUs .ft_aboutUs a {
      text-decoration: none;
      color: black;
  }

  .ft_home .ft_contactUs .ft_aboutUs a:hover {
      color: #2090a1;
  }

  .footer_bottom {
      background-color: #1b1485;
      width: 100%;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: aliceblue;
  }

  .footer_bottom p {
      margin-bottom: 5px;
  }

  ul {
      list-style: none;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  a:hover {
      text-decoration: underline;
  }