* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
} 
.container_header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1200px) {
  .container_header {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    width: 1370px;
  }
}
body {
  height: 100vh;

}
.container_header{
  background-color: var(--dark-background-color);
  width: 100%;
}
.menu-container{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  background-color: var(--dark-background-color);
  display: flex;
  justify-content: space-between;
  color: white; 
}

/* .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--dark-background-color);
  color: white;
  width: 100%;
} */

.logo-container {
  margin-left: 20px;
}

.logo {
  max-width: 150px;
  /* Adjust the maximum width of the logo */
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.catalog-button {
  background-color: transparent;
  color: var(--btn-primary);
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.catalog-button:hover{
  text-decoration: none;
  color:var(--alert-text-color);
  background: var(--faded-primary-color);
  padding: 10px 20px;
  border-radius: 5px;
}

.submenu {
position: absolute;
  
  list-style: none;
  padding: 0;
  margin: 0;

  background-color:var(--btn-primary);
}

.submenu li {
  padding: 10px;
}

.submenu li a {
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  text-decoration: none;
  color:var(--alert-text-color);
  background: var(--faded-primary-color);
  padding: 10px 20px;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color:var(--alert-text-color);
  background: var(--faded-primary-color);
  padding: 10px 20px;
  border-radius: 5px;
}
