.review_detail {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.row {
  display: flex;
  align-items: flex-start;
  background: var(--);
}

.column1 {
  width: 45%;
  flex: 1;
  padding: 10px;
  background: var(----dark-background-color);
}
.column2 {
  flex: 1;
  padding: 10px;
  background: var(--background);
  color: var(--text);
}

.image_slider {
  position: relative;
}

.main_image {
  width: 100%;
  height: auto;
}

.thumbnail_container {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
}

.thumbnail.active {
  border: 2px solid #007bff;
}
