:root {
  --btn: #8E5DF5;
  --text: white;
  --background: #26335D;
  --defaul-background: #e5e7eb;
  --mauchukhac: #895FF3;
  --dark-background-color: #26335D;
  --secondary: #F3CD03;
  --faded-primary-color: #F6F7FB;
  --primary-text-color: #8D5CF6;
  --alert-text-color: #E77C40;
  --danger-text-color: #E74040;
  --light-gray-2: #ECECEC;
  --success-text-color: #2DC071;
  --disabled-element-text-color: #8EC2F2;
  --light-text-color:#FFFFFF;
  --hover-text-color:#2A7CC7;
  --success-text-color:#2DC071;
  --start-rating-color: orange;
  --text-color: #000;
  --background-detail:#f6f6f6;

}
.body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}