.btn-primary{
    position: relative;
    margin-left: 580px;
    transform: translateY(-480px);
    color: var(--text) !important;
}
/* .img_general-startPage{
    background-image: url(../public/img/10-ngoi-truong-dai-hoc-co-dep-1498580887-dGwZTP.jpg);
} */
    /* second page */
    .AboutUs_page-2{
        transform: translateY(-80px);
    }
    .edit_textAboutUs{
        text-align: justify;
        margin: 20px 200px;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: -10px;
    }
    .AboutUs_h6,
    .AboutUs_main-2{
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .AboutUs_h6{
        color: gray;
    }
    .AboutUs_main-2{
        color: var(--mauchukhac);
    }
    .AboutUs_text-2{
        color: var(--text);
    }
    /* third page */

    .AboutUs_page-3,
    .AboutUs_page-4{
        margin-top: 100px;
    }
    .AboutUs-3_img{
        margin-left: 174px;
        height: 480px;
        width: 1000px;
        object-fit:cover;
    }
    .AboutUs-3_img-btn2,
    .AboutUs-3_img-btn{
        background-color: yellow;
        width:38px;
        border-radius: 100%;
        border: 1px solid var();
        transform: translateX(-60px);
    }
    .AboutUs-3_img-btn:hover{
        background-color: black;
        color: yellow;
    }
    .AboutUs-3_img-btn2{
        transform: translateX(-1014px)
    }
    /* fouth page */
    .anh_nen-aboutUs{
        height: 360px;
        width: 252px;
        object-fit: cover;
    }
    .overlay2{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: var(--text); /* Màu sắc của hiệu ứng chạy */
        transition: height 0.3s ease;
    }
    .AboutUs-4_listImage{
        margin: 40px 150px;
        display: flex;
    }
    .anh_ngoai_nen-1{
        position: relative;
        overflow: hidden; 
    }
    .anh_nen-aboutUs:hover .overlay2{
        height: 100%;
    }
    .AboutUs_main-2{
        letter-spacing: 10px;
        font-size: 30px;
        font-weight: bolder;
    }
    
